@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);
  --color-very-dark-blue: hsl(234, 12%, 34%);
  --color-grayish-blue: hsl(229, 6%, 66%);
  --color-very-light-gray: hsl(0, 0%, 98%);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-very-light-gray);
}

.title {
  font-weight: 200;
  font-size: 2.9rem;
  color: var(--color-very-dark-blue);
  margin: 9.1rem 0 1.5rem;
}

.power-by {
  font-weight: bold;
  font-size: 2.9rem;
  color: var(--color-very-dark-blue);
}

.description {
  font-family: "Poppins", sans-serif;
  color: var(--color-grayish-blue);
  font-size: 1.4rem;
  font-weight: 200;
  margin-top: 2rem;
  line-height: 1.7rem;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  text-align: center;
}

.card {
  height: 25rem;
  width: 35.1rem;
  margin: 3rem 1.5rem;
  padding: 3.2rem;
  text-align: left;
  background-color: white;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0.2rem 1.2rem 2.7rem -2.2rem var(--color-very-dark-blue);
  box-sizing: border-box;
  transition: transform 1s ease-out;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.card-title {
  font-size: 1.7rem;
  font-weight: bold;
  margin: 0;
  color: var(--color-very-dark-blue);
}

.card-description {
  color: var(--color-grayish-blue);
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 2.2rem;
  margin: 1.8rem 0;
}

.card-icon {
  height: 6.4rem;
  width: 6.4rem;
  align-self: flex-end;
  margin-top: auto;
}

/*border top card colors*/
.red {
  border-top: 0.4rem solid var(--color-red);
}

.cyan {
  border-top: 0.4rem solid var(--color-cyan);
}

.orange {
  border-top: 0.4rem solid var(--color-orange);
}
.blue {
  border-top: 0.4rem solid var(--color-blue);
}

.card--wrapper {
  display: flex;
  justify-content: center;
  min-height: 63.5rem;
}

.col {
  align-self: center;
}

@media screen and (max-width: 1150px) {
  .card--wrapper {
    flex-direction: column;
  }

  .blue {
    margin-top: 0;
  }

  .cyan {
    margin-bottom: 0;
  }
}

/*-----Mobile 375-----*/
@media screen and (max-width: 540px) {
  .title {
    font-size: 2.5rem;
  }

  .power-by {
    font-size: 2.5rem;
  }

  .description {
    font-size: 1.4rem;
    margin: 3rem auto;
    width: 27rem;
  }

  .br {
    display: none;
  }
}
